openai==2.24.0

langchain==1.2.10
langchain-community==0.4.1
langchain-openai==1.1.10
langchain-text-splitters==1.1.1

transformers==5.2.0
datasets==4.6.1
accelerate==1.12.0
evaluate==0.4.6

torch==2.10.0
faiss-cpu==1.13.2

tiktoken==0.12.0
sentencepiece==0.2.1

pandas==3.0.1
scikit-learn==1.8.0
matplotlib==3.10.8
seaborn==0.13.2
ipywidgets==8.1.8

python-dotenv==1.2.2

jupyterlab==4.5.5
notebook==7.5.4
ipykernel==7.2.0